<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Singleplayerstate.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <Singleplayerstate.Properties.Settings>
            <setting name="currentProfile" serializeAs="String">
                <value />
            </setting>
            <setting name="availableServers" serializeAs="String">
                <value />
            </setting>
            <setting name="launchParameter" serializeAs="String">
                <value />
            </setting>
            <setting name="autoScrollOption" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="availableAddons" serializeAs="String">
                <value />
            </setting>
            <setting name="exitParameter" serializeAs="String">
                <value />
            </setting>
            <setting name="addonPanelVisible" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="lastServer" serializeAs="String">
                <value />
            </setting>
            <setting name="onServerDoubleClick" serializeAs="String">
                <value>False</value>
            </setting>
        </Singleplayerstate.Properties.Settings>
    </userSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>